.cc{
    text-align: right;
}
#a{
    color: rgb(146, 9, 9);
    text-decoration: none;
}
#aa{
    color: rgb(179, 34, 77);
    background-color: rgb(75, 121, 121);
    border: solid;
    border-color: darkturquoise;
    width: 70px;
    text-align: center;
    border-radius: 3px;
}
.cc img{
    width: 4%;
}
.c{
    color: rgb(55, 235, 238);
    border: solid;
    border-color: rgb(160, 28, 100);
    border-radius: 9px;
    padding: 2% 2% 2% 2%;
    width: 25%;
    float: left;
    margin-left: 3%;
}
#i{
    color: darkgreen;
}
#pp{
    color: blueviolet;
    border: solid;
    border-color: rgb(118, 218, 37);
    width: 30%;
    height: 17px;
    text-align: center;
    text-decoration: none;
    background-color: darkcyan;
}
.ac img{
    width: 100%;
}
.ac{
    width: 40%;
    float: left;
    margin: 3%;
}
.h{
    border: solid;
    border-color: hotpink;
    text-align: center;
}
.ss{
    text-align: center;
}
.ss img{
    width: 50%;
}