.cc{
    text-align: right;
}
#a{
    color: brown;
}
#aa{
    color: rgb(179, 34, 77);
    background-color: rgb(75, 121, 121);
    border: solid;
    border-color: darkturquoise;
    width: 65px;
    border-radius: 3px;
}
.cc img{
    width: 4%;
}
.c{
    color: rgb(55, 235, 238);
    border: solid;
    border-color: rgb(160, 28, 100);
    border-radius: 9px;
    padding-right: 2%;
    padding-left: 2%;
    width: 25%;
    float: left;
    margin-left: 3%;
}
#i{
    color: darkgreen;
}
#pp{
    color: blueviolet;
    border: solid;
    border-color: rgb(118, 218, 37);
    border-radius: 7%;
    width: 16.5%;
    height: 17px;
    text-decoration: none;
    background-color: darkcyan;
}
.ac{
    width: 40%;
}
.ac img{
    width: 60%;
}
.h{
    border: solid;
    border-color: hotpink;
    text-align: center;
}
.s img{
    width: 100%;
}